/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  background-color: #f4f7fc;
  color: #32325d; }

a {
  text-decoration: none;
  color: #32325d; }

input,
textarea,
button {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 14px;
  outline: 0;
  border: 0; }

.title {
  font-weight: bold;
  font-size: 24px; }

.button {
  width: 100%;
  text-align: center;
  display: block;
  font-weight: bold;
  border-radius: 10px;
  color: #ffffff;
  background: #00AEEF;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer; }

.box {
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: box-shadow 250ms linear;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.05);
  margin-bottom: 20px; }
  .box--is-error, .box--is-success, .box--is-loading {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold; }
  .box--is-error {
    background-color: #f50606; }
  .box--is-success {
    background-color: #63d80b; }
  .box--is-loading {
    background-color: #00AEEF; }
  .box:hover {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1); }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 600px; }

.grid {
  display: flex; }

.books .title {
  margin-bottom: 30px; }

.books .button {
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0 10px 25px rgba(50, 50, 93, 0.05);
  font-size: 18px; }

.books__item {
  position: relative; }
  .books__item h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px; }
    .books__item h2 * {
      color: #6b7c93; }
  .books__item h3 {
    margin-bottom: 30px;
    font-weight: lighter;
    font-size: 12px;
    color: #6b7c93; }
  .books__item strong {
    font-weight: bold;
    font-size: 24px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    display: inline-block;
    color: #dd1694;
    padding-bottom: 5px; }
  .books__item .grid {
    justify-content: space-between;
    align-items: flex-end; }
  .books__item .items__controls {
    display: flex; }
    .books__item .items__controls a,
    .books__item .items__controls label {
      font-weight: bold;
      cursor: pointer; }
    .books__item .items__controls a {
      margin-right: 15px; }
    .books__item .items__controls input {
      display: none; }

.books__cart {
  background-color: #4553ff;
  color: #ffffff; }
  .books__cart .title {
    font-size: 24px;
    margin-bottom: 0px; }
  .books__cart .cart__total {
    margin-top: 20px; }
    .books__cart .cart__total small {
      display: block;
      margin-bottom: 10px; }
    .books__cart .cart__total h2 {
      font-size: 24px;
      margin-bottom: 0px; }

.form input {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #32325d;
  border: 1px solid #e5eaef;
  box-shadow: 0 2px 3px #f4f7fc; }

.form .title {
  margin-bottom: 25px; }

.form .box {
  display: flex;
  flex-direction: column; }

.form .grid {
  align-items: center; }
  .form .grid a {
    font-weight: bold;
    border-bottom: 3px solid;
    padding-bottom: 5px;
    color: #f50606; }
  .form .grid .button {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 15px; }
    .form .grid .button:disabled {
      background-color: #6b7c93; }
