body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  background-color: $background-color;
  color: $black-base;
}

a {
  text-decoration: none;
  color: $black-base;
}

input,
textarea,
button {
  font-family: $font-family-base;
  font-size: $font-size-base;
  outline: 0;
  border: 0;
}

.title {
  font-weight: bold;
  font-size: $font-size-large;
}

.button {
  width: 100%;
  text-align: center;
  display: block;
  font-weight: bold;
  border-radius: 10px;
  color: $white-base;
  background: $blue-base;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.box {
  box-sizing: border-box;
  background-color: $white-base;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;  
  transition: box-shadow 250ms linear;
  box-shadow: 0 15px 35px transparentize($black-base, 0.95);
  margin-bottom: 20px;

  &--is-error,
  &--is-success,
  &--is-loading {
    color: $white-base;
    font-size: $font-size-medium;
    font-weight: bold;
  }

  &--is-error {
    background-color: $red-base;
  }

  &--is-success {
    background-color: $green-base;
  }

  &--is-loading {
    background-color: $blue-base;
  }

  &:hover {
    box-shadow: 0 15px 35px transparentize($black-base, 0.9);
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: $wrapper-width;
}

.grid {
  display: flex;
}
