$wrapper-width: 600px;

// typography
$font-family-base: 'Poppins', Helvetica, Arial, sans-serif;

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

// colors
$background-color: #f4f7fc;

$white-base: #ffffff;
$black-base: #32325d;
$pink-base: #dd1694;
$red-base: #f50606;
$green-base: #63d80b;

$gray-base: #6b7c93;
$gray-lighter: #e5eaef;

$blue-base: #00AEEF;
$blue-darker: #4553ff;