.books {

  .title {
    margin-bottom: 30px;
  }

  .button {
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0 10px 25px transparentize($black-base, 0.95);
    font-size: $font-size-medium;
  }

  &__item {
    position: relative;    

    h2 {
      font-weight: bold;
      font-size: $font-size-medium;
      margin-bottom: 10px;

      * {
        color: $gray-base;
      }
    }

    h3 {
      margin-bottom: 30px;
      font-weight: lighter;
      font-size: $font-size-small;
      color: $gray-base;
    }

    strong {
      font-weight: bold;
      font-size: $font-size-large;
      border-bottom-width: 5px;
      border-bottom-style: solid;
      display: inline-block;
      color: $pink-base;
      padding-bottom: 5px;
    }

    .grid {
      justify-content: space-between;
      align-items: flex-end;
    }

    .items__controls {
      display: flex;

      a,
      label {
        font-weight: bold;
        cursor: pointer;
      }

      a {
        margin-right: 15px;
      }

      input {
        display: none;
      }
    }
  }

  &__cart {
    background-color: $blue-darker;
    color: $white-base;

    .title {
      font-size: $font-size-large;
      margin-bottom: 0px;
    }

    .cart__total {
      margin-top: 20px;

      small {
        display: block;
        margin-bottom: 10px;
      }

      h2 {
        font-size: $font-size-large;
        margin-bottom: 0px;
      }
    }
  }
}