.form {

  input {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: $black-base;
    border: 1px solid $gray-lighter;
    box-shadow: 0 2px 3px $background-color;
  }
  
  .title {
    margin-bottom: 25px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .grid {
    align-items: center;

    a {
      font-weight: bold;
      border-bottom: 3px solid;
      padding-bottom: 5px;
      color: $red-base;
    }

    .button {
      width: auto;
      padding-left: 25px;
      padding-right: 25px;
      margin-right: 15px;

      &:disabled {
        background-color: $gray-base;
      }
    }
  }
}